# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.exe
*.out
*.a
*.o

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# VS Code settings (se você usar)
.vscode/

# Pybricks ou Spike temporários
*.lms

# Arquivos de build
build/
dist/
*.egg-info/
